In [23]:
import pandas as pd

df = pd.read_csv('good_recs_ex03.csv')

df.head()

#1.1 Make a copy of the DataFrame and call it df_copy (we will use the copy for all exercises) 
df_copy = df.copy()
df_copy.head()

#1.2 Find all records where ‘exam_2’ <= 60.0 
filter = df['exam_2'] <=60.0
df[filter]

#1.3 List the indexes for the records in q. 1.2 
df[filter].index

#1.4 Find all records where ‘exam_1’ and ‘exam_2’ are >= 65.0 
filter = (df['exam_1'] >=65.0) & ( df['exam_2'] >= 65.0 )
df[filter]


#1.5 List the indexes for the records in q. 1.4 
df[filter].index


#1.6 Find all the records where ‘exam_1’ is NaN (null) 
filter = df['exam_1'].isnull()
df[filter]

#1.7 List the indexes for records in q. 1.6 
df[filter].index

#1.8 Find all records where both ‘exam_1’ and ‘exam_2’ are null. 
filter = df['exam_1'].isnull() & df['exam_2'].isnull()
df[filter]


#1.9 Drop records where ‘exam_3’ is null 
filter = df['exam_3'].isnull()
df.drop(filter.index)  ## ??
df[filter]

#1.10 Change the value of NaN (nulls) to 49.0 
df

#1.11 Drop the column ‘transcode’ 


#1.12 Change the value of exam_1 to 100.0 for record 3 


#1.13 Substract 2 from every exam_2 value 


#1.14 Add a new column ‘AVG’ with mean of all 3 exams. 


#1.15 What is the Max and Min values for exam_2 


#1.16 What is the Standard Deviation for exam_1, exam_2 and exam_3 (separately) 


#1.17 Group records by ‘Dept’ and show the mean for exam_1, exam_2 and exam_3

,first_name,last_name,company_name,address,city,province,postal,phone1,email,web,exam_1,exam_2,exam_3,Dept,transcode
11,Leanna,Tijerina,Stephenson Land Surveying,2859 Dorsett Rd,North York,ON,M9L 2T9,416-719-2114,leanna@cox.net,http://www.stephensonlandsurveying.com,64.0,81.0,NaN,MATH,Code071
17,Valentin,Billa,General Color Co Inc,6185 Bohn St #72,Pangman,SK,S0C 2C0,306-291-5073,vbilla@yahoo.com,http://www.generalcolorcoinc.com,100.0,NaN,NaN,POL,Code007
59,Eura,Mcglocklin,Graphic Color Litho Inc,9 N Monroe St,Lloydminster,SK,S9V 0C6,306-979-2571,eura@mcglocklin.org,http://www.graphiccolorlithoinc.com,67.0,68.0,NaN,BIO,Code053
158,Titus,Dugre,American Lung Assoc,419 N Dixboro Rd #8,Gatineau,QC,J9J 0V4,819-983-1846,titus.dugre@dugre.org,http://www.americanlungassoc.com,95.0,63.0,NaN,PHY,Code090
319,Lasandra,Frisinger,Jmr Marketing & Graphics Corp,1 Highway 71 S,Abbotsford,BC,V2S 2G5,604-210-7413,lfrisinger@cox.net,http://www.jmrmarketinggraphicscorp.com,54.0,70.0,NaN,PHY,Code007